*{
    margin:0px;
}
body{
    text-align: center;
    font-family: cursive;
}

h1{
    text-transform: uppercase;
    margin:20px;
    font-size: 2.3em;
    border-bottom: 1px solid #16eea3;
    box-shadow: 1px 1px 2px  #1cf4c1;
    color:#1D5D9B;
    font-size: bolder;
}
@media only screen and (max-width:619px){
    h1{
        font-size: 1.7em;
    }
}
p,li , td{
    color:#AAC8A7;
}
p{
    width: 70%;
    margin: 20px auto;
    font-size: 1.7em;
}
li{
    font-size: 1.5em;
    margin:20px auto;
    width: 20%;
}
img{
    width: 200px;
    height: 200px;
}
table{
    margin: 20px auto;
}